/* Gravity Forms
--------------------------------------------- */
div.gform_wrapper {

	input[type="email"],
	input[type="text"],
	textarea,
	.ginput_complex label {
		font-size: $base-font-size;
		padding: 16px;
	}

	.ginput_complex label {
		padding: 0;
	}

	li,
	form li {
		margin: 16px 0 0;
	}

	.gform_footer input[type=submit] {
		font-size: $medium-font-size;
		padding: 16px 24px;
	}
}

/* bbPress
--------------------------------------------- */

/* https://codex.bbpress.org/layout-and-functionality-examples-you-can-use/ */
/*Styling for forum description */
#bbpress-forums div.bbp-forum-content {
  clear:both !important;
  margin-left: 0px !important;
  padding: 0 0 0 0 !important;
}
/*styling to move 'Subscribe' to right hand side */
.subscription-toggle  {
    float:right !important ;
}